.open-sans-Normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

/*shared style*/
.Text-size{
    font-weight: 800;
    font-size: 45px;
}

.Text-clr{
    color: rgb(242, 41, 94);
}

.btn-clr{
    background-color: rgb(242, 41, 94);
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}



/*nav sty;e*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: black;
    size: 20px;
    margin: 10px;

}

.Header{
    background-image: url('./Images/developer-logo.png'),url('./Images/bgg.jpg');
    background-repeat: no-repeat;
    background-position: top left ;
}

/*Banner style*/

.banner{
    display: flex;
    justify-content: space-between;
}


.banner-picture{
    size: 200px;
    width: 400px;
}  


.banner-content{
    width: 480px;
    margin: 0 35px 0 200px;
    padding: 30px;
}



/*main style*/
main{
    max-width: 1140;
    margin: 30 auto;
}
/*style of about*/
.about{
    background-image:url("./Images/pinkbgs.png");
    text-align: center;
    margin: 50px;
    border-radius: 15px;
    padding: 130px 150px;
}

.about-items{
    display: flex;
    justify-content: space-around;
   
}
.about-item{
    color: black;
    font-size: medium;
    font-weight: 800;
}

/*style what I do */
.skill{
    text-align: center;
    background-color: antiquewhite;
    padding: 130px 150px;
    margin: 50px;
    border-radius: 15px;
}

/*style of skills */

.skills{
    display: flex;
    justify-content: space-around;
    gap: 24px 24px;
}


.skill-image{
    max-width: 50px;
}


.skill-container{
    border-color: black;
    padding:20px;
    box-shadow: 0px 5px 10px 0px gray;
    border-radius: 20px;
}

.skill-name{
    font-weight:bold;
    
}


/*Resume Section style*/
.resume{
    display: flex;
    justify-content: space-around;
    gap: 24px 24px;
}

.resume-column{

}